:root {
    --background-color: hsl(240, 29%, 97%);
    --toolbar-color: hsl(210, 29%, 24%);
    --infobar-color: hsl(210, 29%, 98%);
    --pdf-color:     hsl( 50, 29%, 98%);

    --menubutton-color: hsl(210, 29%, 50%);

    --settings-color: hsl(101, 0%, 70%);
    --print-color:    hsl(101, 0%, 70%);

    --scenes-color:  hsl(101, 100%, 30%);
    --music-color:   hsl(190, 100%, 30%);
    --pages-color:   hsl( 47, 100%, 30%);
    --content-empty: hsl(0, 0%, 70%);

    --button-color: hsl(0, 0%, 50%);

    --mic-active-background-color:   hsl(109,  69%, 77%);
    --mic-ensemble-background-color: hsl( 67,  90%, 77%);
    --mic-passive-background-color:  hsl(  0,   0%, 85%);

    --mic-active-color:   hsl(101, 100%, 95%);
    --mic-ensemble-color: hsl( 55, 100%, 95%);
    --mic-passive-color:  hsl(  0,   0%, 95%);

    --mic-border-default:  hsl(  0,  0%, 50%);
    --mic-border-role:     hsl(109, 100%, 30%);
    --mic-border-ensemble: hsl( 67, 100%, 30%);

    --actor-color:  hsla(0, 0%, 0%, 0.5);

    --default-shadow: hsl(0, 0%, 50%);
}






/******************************************************************************
*
*   Colors and shadows
*
******************************************************************************/

body                    { background-color: var(--background-color); }
#toolbar                { background-color: var(--toolbar-color);    }
#infobar                { background-color: var(--infobar-color);    }
#pdf-viewer             { background-color: var(--pdf-color);        }

#toolbar .navigation {
    .buttons > button { background-color: var(--button-color); color: white; }
    .scenes .content  { background-color: var(--scenes-color); color: white; }
    .scenes .prev:hover  { background-color: var(--scenes-color); }
    .scenes .next:hover  { background-color: var(--scenes-color); }

    .music .content  { background-color: var(--music-color);  color: white; }
    .music .prev:hover  { background-color: var(--music-color); }
    .music .next:hover  { background-color: var(--music-color); }

    .pages .content  { background-color: var(--pages-color);  color: white; }
    .pages .prev:hover  { background-color: var(--pages-color); }
    .pages .next:hover  { background-color: var(--pages-color); }

    .content .header.empty { color: var(--content-empty); }
}

#menu button {
    background-color: var(--menubutton-color);
}

#infobar #miclist .row {
    .actor              { color: var(--actor-color); }

    &.passive           { background-color: var(--mic-passive-background-color);  }
    &.active_ensemble   { background-color: var(--mic-ensemble-background-color); }
    &.active_role       { background-color: var(--mic-active-background-color);   }

    &.passive          > .mic { background-color: var(--mic-passive-color);  }
    &.active_ensemble  > .mic { background-color: var(--mic-ensemble-color); }
    &.active_role      > .mic { background-color: var(--mic-active-color);   }
}

.shortcuts.settings {
    background-color: var(--settings-color);
    > .shortcut { background-color: var(--settings-color); }
}

.shortcuts.print {
    background-color: var(--print-color);
    > .shortcut { background-color: var(--print-color); }
}

.shortcuts.scenes {
    background-color: var(--scenes-color);
    .shortcut { background-color: var(--scenes-color); }
}

.shortcuts.music {
    background-color: var(--music-color);
    > .shortcut { background-color: var(--music-color);  }
}

.shortcuts.pages {
    background-color: var(--pages-color);
    > .shortcut { background-color: var(--pages-color);  }
}

.shortcut {
    transition: background-color 0.3s;
    color: white;
}



#toolbar   { box-shadow:   0 0 10px var(--default-shadow); }
#infobar   { box-shadow:   0 0 10px var(--default-shadow); }
canvas     { box-shadow:   0 0 15px var(--default-shadow); }
.shortcuts { box-shadow: 5px 0 10px var(--default-shadow); }





/******************************************************************************
*
*   Default grid
*
******************************************************************************/

body                 { display: grid; }
#toolbar             { display: grid; }
#toolbar #menu       { display: grid; }
#toolbar .navigation { display: grid; }
.navigation .buttons { display: grid; }

#miclist             { display: grid; }
#miclist .row        { display: grid; }

#toolbar       { grid-area: toolbar; }
#pdf-viewer    { grid-area: pdf;     }
#infobar       { grid-area: infobar; }

#toolbar #menu {
    grid-area: menu;

    #logout   { grid-area: logout;   }
    #settings { grid-area: settings; }
    #print    { grid-area: print;    }
}

#toolbar .navigation {
    grid-area: navigation;

    .scenes  { grid-area: scenes;  }
    .music   { grid-area: music;   }
    .pages   { grid-area: pages;   }

    .content { grid-area: content; }
    .prev    { grid-area: prev;    }
    .next    { grid-area: next;    }
}

body {
    grid:
        'toolbar pdf infobar' 100vh
        / max-content auto max-content;
}

#toolbar {
    grid:
        'menu      ' max-content
        '.         ' auto
        'navigation' max-content
        / 1fr;
}

#toolbar #menu {
    grid:
        'logout .   settings print' auto
        / 1fr   2fr 1fr      1fr;
}

#toolbar .navigation {
    grid:
        '.     ' auto
        'scenes' 9em
        'music'  9em
        'pages'  9em
        / 1fr;
}

.navigation .buttons {
    grid:
        'content content' 5fr
        'prev    next   ' 4fr
        / 1fr 1fr;
}

#miclist {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(30, 2.0em);

    column-gap: 2px; row-gap: 1px;

    .row { grid-column: 1; grid-template-columns: 2.6em 10em 8em; }
}






/******************************************************************************
*
*   Borders
*
******************************************************************************/

#toolbar .navigation {
    button     { border: none; }

    .content { border-top-left-radius:    0.8em; border-top-right-radius:    0.8em; }
    .prev    { border-bottom-left-radius: 0.8em; border-bottom-right-radius: 0.8em; }
    .next    { border-bottom-left-radius: 0.8em; border-bottom-right-radius: 0.8em; }
}

#menu button { border: none; border-radius: 0.5em; }

#miclist .row  { border-radius: 0.4em; }
#miclist .mic  { border: 1px solid var(--mic-border-default); border-radius: 10.0em; }
#miclist .active_ensemble .mic { border-color: var(--mic-border-ensemble); }
#miclist .active_role     .mic { border-color: var(--mic-border-role    ); }

.shortcuts .shortcut {
    border: none;
}






/******************************************************************************
*
*   Default sizes
*
******************************************************************************/

body {
    width: 100vw; height: 100vh;
}

#toolbar {
    width: 18em;
    .content { margin-top: 1em; height: 4em; }

    .prev, .next { margin-bottom: 1em; }

    .prev, .content { margin-left:  1em; }
    .next, .content { margin-right: 1em; }
}

#menu button {
    width: 1.8em;
    height: 1.8em;

    margin: 0.1em;
}

#pdf-viewer {
    max-width: 100%;
}

#miclist {
    .row {
        .mic   { margin: 2px; padding-top: 0.2em; }
        .role  { margin-left: 0.3em; margin-right: 0.1em; padding-top: 0.55em; }
        .actor { margin-left: 0.2em; margin-right: 0.3em; padding-top: 0.60em; }
    }

    .row .mic { width: 2.0em; }
}

.shortcuts {
    top: 0; left: 18em;
    width: 30em; height: 100vh;

    .shortcut {
        width: 100%;
        padding: 1.0em 1.0em;
    }
}




/******************************************************************************
*
*   Fonts
*
******************************************************************************/

#toolbar {
    font-family: sans-serif;

    .shortcut    { font-size: 1.0em; }
    .content     { font-size: 1.0em; }
    .prev, .next { font-size: 1.0em; }

}

#menu button {
    font-size: 2em;
}

#miclist .row {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.0em;

    .mic   { font-size: 1.2em; font-weight: bold; }
    .role  { font-weight: bold; }
    .actor { font-size: 0.9em; }
}




/******************************************************************************
*
*   Other basic settings
*
******************************************************************************/

body {
    overflow: hidden;
}

#toolbar {
    z-index: 4;
}

button {
    vertical-align: middle;
    cursor: pointer;
}

#pdf-viewer {
    text-align: center;
    align-content: center;
    z-index: 1;
}

#infobar {
    overflow: scroll;
    z-index: 2;

    .mic   { text-align: center; vertical-align: middle; }
    .role  { text-align: left;   vertical-align: middle; }
    .actor { text-align: right;  vertical-align: middle; }

    .role  { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    .actor { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
}

.shortcuts {
    display: none;
    position: absolute;
    overflow-y: scroll;

    z-index: 7;

    .shortcut {
        text-align: left;
    }

    .shortcut:hover {
        background-color: var(--toolbar-color);
    }
}








.shortcuts {
    .shortcut.instrumental:after {
        content: "instrumental";
        position: absolute;
        border: 2px solid yellow;
        border-radius: 1.0em;
        width: 7.0em;
        height: 2.0em;
        right: 1.0em;
        transform: translate(0, -0.5em);
        text-align: center;
        align-content: center;
    }
}






@media (max-aspect-ratio: 4/3) {
    body {
        grid:
            'menu    menu   ' 4em
            'pdf     infobar' calc(100vh - 13em)
            'toolbar toolbar' 9em
            / auto max-content;
    }

    #toolbar {
        height: 9.0em;
        width: 100%;

        grid:
            'navigation' auto
            / 1fr;

        .content { height: unset; }
    }

    #toolbar #menu {
        background-color: var(--toolbar-color);

        float: left;
        position: absolute;
        top: 0; left: 0;
        width: 100%;

        box-shadow: 0 0 10px var(--default-shadow);

        grid:
            'settings print .    logout' 4em
            / 4em     4em   auto 4em;
    }

    #toolbar .navigation {
        grid:
            '.    scenes music pages .  ' auto
            / 1fr 16em   16em  16em  1fr;
    }

    .shortcuts {
        top: 4em;
        left: 0;
        height: calc(100vh - 13em);
    }
}
