:root {
    --background-color: hsl(240, 29%, 97%);
    --toolbar-color: hsl(210, 29%, 24%);
    --infobar-color: hsl(210, 29%, 98%);
    --pdf-color:     hsl( 50, 29%, 98%);

    --scenes-color: hsl(101, 100%, 30%);
    --music-color:  hsl(190, 100%, 30%);
    --pages-color:  hsl( 47, 100%, 30%);

    --button-color: hsl(0, 0%, 53%);

    --mic-active-background-color:   hsl(109,  90%, 85%);
    --mic-ensemble-background-color: hsl( 67,  90%, 85%);
    --mic-passive-background-color:  hsl(  0,   0%, 85%);

    --mic-active-color:   hsl(101, 100%, 95%);
    --mic-ensemble-color: hsl( 55, 100%, 95%);
    --mic-passive-color:  hsl(  0,   0%, 95%);

    --mic-border-default:  hsl(  0,  0%, 50%);
    --mic-border-role:     hsl(109, 100%, 30%);
    --mic-border-ensemble: hsl( 67, 100%, 30%);

    --actor-color:  hsla(0, 0%, 0%, 0.5);

    --default-shadow: hsl(0, 0%, 50%);
}






/******************************************************************************
*
*   Colors and shadows
*
******************************************************************************/

body                    { background-color: var(--background-color); }
#toolbar                { background-color: var(--toolbar-color);    }
#infobar                { background-color: var(--infobar-color);    }
#pdf-viewer             { background-color: var(--pdf-color);        }

#toolbar .navigation {
    >button             { background-color: var(--button-color); color: white; }
    &.scenes > .content { background-color: var(--scenes-color); color: white; }
    &.music  > .content { background-color: var(--music-color);  color: white; }
    &.pages  > .content { background-color: var(--pages-color);  color: white; }
}
#infobar #miclist .row {
    .actor              { color: var(--actor-color); }

    &.passive.ensemble  { background-color: var(--mic-passive-background-color);  }
    &.passive.role      { background-color: var(--mic-passive-background-color);  }
    &.active.ensemble   { background-color: var(--mic-ensemble-background-color); }
    &.active.role       { background-color: var(--mic-active-background-color);   }

    &.passive.ensemble > .mic { background-color: var(--mic-passive-color);  }
    &.passive.role     > .mic { background-color: var(--mic-passive-color);  }
    &.active.ensemble  > .mic { background-color: var(--mic-ensemble-color); }
    &.active.role      > .mic { background-color: var(--mic-active-color);   }
}

.navigation.scenes .shortcuts {
    background-color: var(--scenes-color);
    > .shortcut { background-color: var(--scenes-color); }
}

.navigation.music .shortcuts {
    background-color: var(--music-color);
    > .shortcut { background-color: var(--music-color);  }
}

.navigation.pages .shortcuts {
    background-color: var(--pages-color);
    > .shortcut { background-color: var(--pages-color);  }
}

.shortcut {
    transition: background-color 0.3s;
    color: white;
    &:hover { background-color: var(--toolbar-color); }
}



#toolbar   { box-shadow:   0 0 10px var(--default-shadow); }
#infobar   { box-shadow:   0 0 10px var(--default-shadow); }
canvas     { box-shadow:   0 0 15px var(--default-shadow); }
.shortcuts { box-shadow: 5px 0 10px var(--default-shadow); }





/******************************************************************************
*
*   Default grid
*
******************************************************************************/

body                 { display: grid; }
#toolbar             { display: grid; }
#toolbar .navigation { display: grid; }
#miclist             { display: grid; }
#miclist .row        { display: grid; }

#toolbar       { grid-area: toolbar; }
#pdf-viewer    { grid-area: pdf;     }
#infobar       { grid-area: infobar; }
#toolbar .navigation {
    &.scenes   { grid-area: scenes;  }
    &.music    { grid-area: music;   }
    &.pages    { grid-area: pages;   }

    > .content { grid-area: content; }
    > .prev    { grid-area: prev;    }
    > .next    { grid-area: next;    }
}

body {
    grid:
        'toolbar pdf infobar' 100vh
        / max-content auto max-content;
}

#toolbar {
    grid:
        'top   ' max-content
        '.     ' auto
        'scenes' max-content
        'music ' max-content
        'pages ' max-content
        / 1fr;
}

#toolbar .navigation {
    grid:
        'content content' 5fr
        'prev    next   ' 4fr
        / 1fr 1fr;
}

#miclist {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(30, 2.0em);

    column-gap: 2px; row-gap: 1px;

    .row { grid-template-columns: 2.6em 10em 6em; }
}






/******************************************************************************
*
*   Borders
*
******************************************************************************/

#toolbar .navigation {
    button     { border: none; }

    > .content { border-top-left-radius:    0.8em; border-top-right-radius:    0.8em; }
    > .prev    { border-bottom-left-radius: 0.8em; border-bottom-right-radius: 0.8em; }
    > .next    { border-bottom-left-radius: 0.8em; border-bottom-right-radius: 0.8em; }
}

#miclist .row  { border-radius: 0.4em; }
#miclist .mic  { border: 1px solid var(--mic-border-default); border-radius: 10.0em; }
#miclist .active.ensemble .mic { border-color: var(--mic-border-ensemble); }
#miclist .active.role     .mic { border-color: var(--mic-border-role    ); }

.shortcuts .shortcut {
    border: none;
}






/******************************************************************************
*
*   Default sizes
*
******************************************************************************/

body {
    width: 100vw; height: 100vh;
}

#toolbar {
    width: 20em;
    .content { margin-top: 1em; height: 4em; }

    .prev, .next { margin-bottom: 1em; }

    .prev, .content { margin-left:  1em; }
    .next, .content { margin-right: 1em; }
}

#pdf-viewer {
    max-width: 100%;
}

#miclist {
    .row {
        .mic   { margin: 2px; padding-top: 0.2em; }
        .role  { margin-left: 0.3em; margin-right: 0.1em; padding-top: 0.55em; }
        .actor { margin-left: 0.2em; margin-right: 0.3em; padding-top: 0.60em; }
    }

    .row .mic { width: 2.0em; }
}

.shortcuts {
    top: 0; left: 22em;
    width: 30em; height: 100vh;

    .shortcut {
        width: 100%;
        padding: 1.0em 1.0em;
    }
}




/******************************************************************************
*
*   Fonts
*
******************************************************************************/

#toolbar {
    .content     { font-size: 1.0em; }
    .prev, .next { font-size: 1.0em; }
}

#miclist .row {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.0em;

    .mic   { font-size: 1.2em; font-weight: bold; }
    .role  { font-weight: bold; }
    .actor { font-size: 0.9em; }
}




/******************************************************************************
*
*   Other basic settings
*
******************************************************************************/

body {
    overflow: hidden;
}

#toolbar {
    z-index: 4;
}

#pdf-viewer {
    text-align: center;
    align-content: center;
    z-index: 1;
}

#infobar {
    overflow: scroll;
    z-index: 2;

    .mic   { text-align: center; vertical-align: middle; }
    .role  { text-align: left;   vertical-align: middle; }
    .actor { text-align: right;  vertical-align: middle; }

    .role  { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
    .actor { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
}

.shortcuts {
    display: none;
    position: absolute;
    overflow-y: scroll;

    z-index: 3;

    .shortcut {
        cursor: pointer;
        text-align: left;
    }
}










.shortcuts {
    .shortcut.instrumental:after {
        content: "instrumental";
        position: absolute;
        border: 2px solid yellow;
        border-radius: 1.0em;
        width: 7.0em;
        height: 2.0em;
        right: 1.0em;
        transform: translate(0, -0.5em);
        text-align: center;
        align-content: center;
    }
}






@for $i from 1 through 30 {
    .row:nth-child(#{$i}) { grid-column: 1; grid-row: #{$i}; }
}






@media (max-aspect-ratio: 4/3) {
    body {
        grid:
            'pdf     infobar' calc(100vh - 9em)
            'toolbar toolbar' 9em
            / auto max-content;
    }

    #toolbar {
        height: 9.0em;
        width: 100%;

        grid:
            'top . scenes music pages' auto
            / 2em auto 16em 16em 16em;
    }
}
